@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Patrz, Michał!</h1>
    <p>Tu będzie Twoje Treasury, tylko musisz je najpierw napisać ;)</p>
</div>
